* {
    box-sizing: border-box;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    margin: 0;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.footer-logo {
    width: 200px;
    margin: auto;
    cursor: pointer;
}

.header {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1600px;
    margin: auto;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    padding: 0;;
    gap: 35px;
    align-items: center;
}

.nav-item {
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
}

.nav-item:hover {
    color: #a82f43;
}

form {
    border-radius: 30px;
    display: flex;
    box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.2);
}

.search, .btn {
    background-color: #00000000;
    color: #fff;
}

.search {
    border: 0;
    font-size: 16px;
    padding: 15px;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    border-radius:  30px 0  0 30px ;
    width: 100%;
}

.search:focus {
    background-color: #55555575;
}

.search:focus ~ .btn {
    border-radius: 0px 30px 30px 0;
    border: 1px solid #e70634;
    color: #e70634;
}

.btn {
    border: 0;
    font-size: 16px;
    padding: 17px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    background-color: #2c2c2c;
    border: 1px solid #a82f4300;

}

.btn:hover {
    background-color: rgb(85, 85, 85);
}

.fa-solid.fa-magnifying-glass {
    pointer-events: none;
}

section {
    max-width: 1600px;
    margin: 20px auto;
    width: 100%;
}

.heading {
    width: 100%;
    padding: 10px 20px;
    background-color: #0e0e0e23;
    border: 1px solid #161616b9;
    margin: 25px auto;
}

.popular-heading {
    width: 100%;
    padding: 10px 20px;
    background-color: #0e0e0e23;
    border: 1px solid #161616b9;
    margin: 25px auto;
}

.heading h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

.popular-heading h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px auto;
    grid-gap: 25px;
}

.post-box {
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-color: #0e0e0e23;
    border: 2px solid #a82f43;
    box-shadow: 0px 0px 70px -6px #000000bf;
    position: relative;
}

.post-img {
    width: 100%;
    height: 100%;
}

.post-img img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

.overview {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: #202020ce;
    text-shadow: 4px 4px 14px #000000bf;
    height: 100%;
    width: 100%;
    /* transform: translateY(101%); */
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.overview-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
}

.overview p {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-weight: 400;
}

.popular-swiper:hover .overview,
.post-box:hover .overview {
    /* transform: translateY(0%); */
    opacity: 1;
}


.progress {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 25px;
    box-shadow: 0px 0px 10px -6px #000000bf;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-value {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: #2c2c2c;
    border-radius: 50%;
}

.rating {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 5px;
    top: 5px;
    background-color: #520909;
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 0px 16px rgba(0,0,0,0.79);
}

.green {
    background-color: #008000;
}

.orange {
    background-color: #c07d00;
}

.red {
    background-color: #c70404;
}

.pages {
    max-width: 1600px;;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.page-buttons {
    border: 1px solid #a82f43;
    border-radius: 0;
    min-height: 34px;
    min-width: 42px;
    margin: 10px 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #202020;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.page-buttons:hover {
    background-color: #a82f43;
}


/**************  SEARCH RESULT **************/
.search-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 20px auto;
}

#resultTitle {
    margin: auto;
    font-weight: 500;
}

.search-items {
    border: 1px solid #a82f43;
    cursor: pointer;
}

.search-results {
    margin-top: 120px;
}

img {
    width: 100%;
}

.not-found {
    font-size: 200px;
    font-size: 800;
    color: #2c2c2c;
    margin: 25px 0;
}

/**************  ARROW UP **************/

small {
    position: fixed;
    bottom: 32px;
    right: 43px;
    font-size: 30px;
    font-weight: 800;
    color: #e70634;
    text-shadow: 4px 4px 14px rgba(0, 0, 0, 0.75);
}

span {
    position: absolute;
    right: 0;
    top: 5px;
    right: 5px;
}


.footer {
    border-top: 1px solid #161616b9;
    margin-top: 25px;
}

.footer-container {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.footer-container h1 {
    font-family: 'Righteous', cursive;
    font-size: 25px;
    margin: 0;
}

.footer-container p {
    margin: 10px 0;
    font-size: 14px;
}


@media screen and (max-width: 1650px)  {
    .post-container,
    .swiper,
    .slider-btns,
    .header,
    .heading,
    #resultTitle,
    .search-grid {
        width: 95%!important;
    }
}

@media screen and (max-width: 1400px) {
    .now-playing-title {
        font-size: 45px;
    }
}

@media screen and (max-width: 1220px)  {
    .post-container, 
    .search-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .now-playing-title {
        font-size: 40px;
    }

    .now-playing-info {
        width: 60%;
    }

    .now-playing-desc {
        width: 100%;
    }

    .not-found {
        font-size: 150px;
    }

    .nav-menu {
        gap: 20px;
    }

    .nav-item {
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
    .hamburger {
        display: block!important;
        z-index: 10;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 120px;
        gap: 0;
        flex-direction: column-reverse;
        background-color: #202020;
        width: 100%;
        text-align: right;
        transition: all 0.3s ease-in-out;
        z-index: 5;
        padding: 50px;
    }

    .nav-item {
        margin: 16px;
    }

    .nav-menu.active {
        left: 0
    }
}

@media screen and (max-width: 900px) {
    .post-container,
    .search-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .now-playing-info {
        width: 70%;
    }

    .now-playing-title {
        font-size: 37px;
    }

    .now-playing-desc {
        width: 100%;
    }

    .not-found {
        font-size: 100px;
    }
    
}

@media screen and (max-width: 768px) {
    .image-container {
        object-fit: cover;
        height: 100%;
    }

    .progress {
        display: none;
    }

    .post-container,
    .search-grid {
        grid-template-columns: repeat(2, 1fr);  
    }

    img {
        width: 100% !important;
        object-fit: cover!important;
    }

    .post-box {
        height: 550px;
    }


    .not-found {
        font-size: 80px;
    }
}

@media screen and (max-width: 550px)  {
    .post-container, 
    .search-grid {
        grid-template-columns: 1fr;
    }
}